@import url('https://fonts.googleapis.com/css2?family=Proza+Libre');

.aboutMe {
    font-family: Proza Libre;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: calc(100vw - 125px);
    background-color:#e4e4e4;

}

.profilePic {
    margin-top: 15px;
    width: 50%;
}

.text {
    font-family: Proza Libre;
    font-size: 20px;
    margin-top: 50px;
    width: 30vw;
}