@import url('https://fonts.googleapis.com/css2?family=Proza+Libre');
.container {
    display: flex;
    flex-direction: row;
}

.aboutMe {
    font-family: Proza Libre;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: calc(100vw - 125px);
    background-color: #BEBCB3;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.profilePic {
    margin-left: 20px;
    margin-top: 40px;
    height: auto;
    max-height: 675px;
    box-shadow: 0 0 30px #333;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Proza Libre;
    font-size: 1rem;
    margin-top: 50px;
    width: 30vw;
}

/* 1200 */

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        gap: 0px;
    }
    .profilePic {
        margin-top: 0px;
    }
    .text {
        width: 80%;
        font-size: 1.2rem;
        padding-bottom: 30px;
    }
}