@import url('https://fonts.googleapis.com/css2?family=Proza+Libre');

.container {
    display: flex;
    flex-direction: row;
    background-color:#e4e4e4;
}

.gallery {
    display: flex;
    flex-direction: column;
    background-color: #BEBCB3;
}

.header {
    font-family: Proza Libre;
    margin: auto;
    margin-top: 50px;
}

.allPaintings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vh;
}

/* Each painting group of information */

.allPaintings div {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333333%;
    padding-bottom: 2%;
}

/* Painting */

.allPaintings div img {
    width: auto;
    max-width: 80%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
}

/* Painting on hover */

.allPaintings div img:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 30px #888888;
    box-shadow: 0 0 30px #888888;
}