@import url('https://fonts.googleapis.com/css2?family=Proza+Libre');

.container {
    display: flex;
    flex-direction: row;
}

.paintingInfo {
    display: flex;
    flex-flow: column;
    padding-left: 5vw;
    padding-top: 8vh;
    background-color: #BEBCB3;
    width: 100%;
}

img {
    width: 50%;
}

.title {
    font-family: Proza Libre;
    font-size: 48px;
}

.paintingAndPrice {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

.infoPanel {
    padding: 0.5vw;
    background-color: lightblue;
    border-radius: 0px 15px 15px 0px;
}

.description {
    font-size: 20px;
}