.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: calc(100vw - 140px);
}

.header {
    margin: auto;
    margin-top: 35px;
}

.description {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}