* {
    margin: 0;
    padding: 0;
  }
.allPaintings div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 2%;
}
.allPaintings div h3{
    font-size: 2em;
    /* border: 1px solid black; */ 
} 
.allPaintings div img{
    width: 50%;
    /* border: 1px solid black; */
}
.allPaintings div p{
    font-size: 1.25em;
    padding-top: .8%;
}